html, body {
  min-width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  min-width: 99vw;
  background-image: url('./assets/bodybg.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow:auto;
  /* padding-top: 200px; */
}

.bg-dark-filter{
  min-height: 100vh;
  min-width: 99vw;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: 0;
}

.timer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formatted-timer{
  margin: 0;
  font-size: 35px;
}

.daily-reset-timer {
  margin-bottom: 30px;
}

.settings-wrapper {
  padding: 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  background-color: tan;
  z-index: 1000;
  overflow: auto;
}

.buttons-wrapper {
  width: fit-content;
}

.complete-buttons-wrapper, .reset-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.section-header{
  margin-left: 30px;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  color: tan;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px  1px 0 black,
  1px  1px 0 black;
}

.list-header {
  font-size: 30px;
  color: tan;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px  1px 0 black,
  1px  1px 0 black;
}

.dailies-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.daily-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-lists {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  gap: 10px;
  width: 100%;
  min-width: 240px;
  overflow:none;
  list-style-type: none;
  padding: 0;
}

.daily-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color:  white;
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  min-height: 50px;
  min-width: 100px;
  position: relative;
  background-position: center;
  background-size: cover;
}

.completed.daily-list-item {
  color: lightgreen;
  border: 2px solid lightgreen;
}

.text-wrapper {
  position: absolute;
  z-index: 2;
}

.daily-item-text {
  margin: 0;
  font-size: 30px;
  text-shadow:
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
}

.darker-filter, .dark-filter{
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.darker-filter {
  background-color: rgba(0, 0, 0, 0.6);
}

.weekly-bosses-container {
  overflow: hidden;
  height:auto;
}

.boss-grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  /* display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 10px;
  padding: 30px;
}

.boss-box {
  font-size: 10px;
  min-height: 100px;
  min-width: 100px;
  height: 10%;
  width: 10%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid lightgreen;
}

.boss-box .completedd {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.completed.weekly-boss-text {
  font-size: 20px;
  color: lightgreen;
  border: 2px light green;
  z-index: 5;
}
